<div class="row">
  <div class="col-md-12 header_section">
    <h6>GRT Center List</h6>
    <p class="sub_title"><strong>Branch Name</strong> - Kota A [B001]</p>
  </div>
  <div class="col-md-12">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Sr. No.</th>
          <th>Centre Name</th>
          <th>Village Name</th>
          <th>Total Members</th>
          <th>CGT By</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let grt of GrtList'>
          <td>{{grt.id}}</td>
          <td>{{grt.cname}}</td>
          <td>{{grt.vname}}</td>
          <td>{{grt.totalmembers}}</td>
          <td>{{grt.by}}</td>
          <td>{{grt.status}}</td>
          <td>
            <a [routerLink]="['./../MembersList']" class="d_done btn btn-primary btn-xs">
              Start <i class="far fa-paper-plane"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>