<app-header></app-header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/hr">Staff</a></li>
    <li class="breadcrumb-item active" aria-current="page">Staff List</li>
  </ol>
</nav>
<section class="con_body" style="padding-top: 0px;">
	<div class="container-fluid">
		<div class="row">
			<!-- <div class="col-md-12 mb-2">
				<div class="float-right">
					<button class="btn btn-sm btn-primary"><i class="fa fa-print"></i> Print</button>
				</div>
			</div> -->
			<!-- <div class="col-md-4">
				<div class="card card-primary">
					<div class="card-body">
						<div class="user_pic text-center">
							<img src="../../assets/img/users/1.jpg" style="max-height: 181px;">
						</div>
					</div>
				</div>
			</div> -->
			<div class="col-md-12">
				<div class="card card-primary">
					<div class="card-body">
						<div class="uer_basic_data mt-4 pb-1">
							<!-- <div class="row">
								<div class="col-md-4">
									<div class="user_pic text-center">
										<img src="../../assets/img/users/1.jpg" style="max-height: 181px;">
									</div>
								</div>
								<div class="col-md-8">
									<div class="user_name_card">
										<div class="row">
											<div class="col-md-12">
												<h5>Name : Karan Khasyap</h5>
												<h5>Employee Code : 17523</h5>
											</div>
										</div>
									</div>
									<div class="user_details_card">
										<div class="row">
											<div class="col-md-2">
												<p>Designation</p>
											</div>
											<div class="col-md-10">
												<p>Senior Manager</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<p>Department</p>
											</div>
											<div class="col-md-10">
												<p>Accounts</p>
											</div>
										</div>
										<div class="row">
											<div class="col-md-2">
												<p>Loaction</p>
											</div>
											<div class="col-md-10">
												<p>Head office</p>
											</div>
										</div>
									</div>
								</div>
							</div> -->
							<div class="user_pic text-center">
								<img src="../../assets/img/users/1.jpg" style="max-height: 181px;">
							</div>
							<div class="user_basic_details">
								<div class="row">
									<div class="col-md-3 text-center">
										<h4>Abhishek Walia</h4>
										<p>Employee Name</p>
									</div>
									<div class="col-md-3 text-center">
										<h4>12/02/1991</h4>
										<p>Employee Joining Date</p>
									</div>
									<div class="col-md-3 text-center">
										<h4>Depoartment</h4>
										<p>Accounts</p>
									</div>
									<div class="col-md-3 text-center">
										<h4>124563</h4>
										<p>Head Office</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4">
				<div class="card card-primary">
					<div class="card-header card-header-primary bg-dark-blue">
						<h6 class="card-title">Basic Details <div class="float-right"><button class="btn btn-primary btn-xs">Edit</button></div></h6>
					</div>
					<div class="card-body">
						<div class="user_details">
							<div class="row">
								<div class="col-md-4">Date Of Transfer</div>
								<div class="col-md-8">01/05/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Previous Branch</div>
								<div class="col-md-8">Kota (Rajasthan)</div>
							</div>
							<div class="row">
								<div class="col-md-4">Date of Joining</div>
								<div class="col-md-8">01/02/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Date of Birth</div>
								<div class="col-md-8">05/07/1990</div>
							</div>
							<div class="row">
								<div class="col-md-4">Gender</div>
								<div class="col-md-8">Male</div>
							</div>
							<div class="row">
								<div class="col-md-4">Father's Name</div>
								<div class="col-md-8">Rishi Khasyap</div>
							</div>
							<div class="row">
								<div class="col-md-4">Mother's Name</div>
								<div class="col-md-8">Kanika Khasyap</div>
							</div>
							<div class="row">
								<div class="col-md-4">Marital Status</div>
								<div class="col-md-8">Married</div>
							</div>
							<div class="row">
								<div class="col-md-4">Spouse Name</div>
								<div class="col-md-8">Komal Khasyap</div>
							</div>
							<div class="row">
								<div class="col-md-4">Contact No</div>
								<div class="col-md-8">9891965836</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 mt-4">
				<div class="card card-primary">
					<div class="card-header card-header-primary bg-dark-blue">
						<h6 class="card-title">Employeement Details <div class="float-right"><button class="btn btn-primary btn-xs">Edit</button></div></h6>
					</div>
					<div class="card-body">
						<div class="user_details">
							<div class="row">
								<div class="col-md-4">Info Received On</div>
								<div class="col-md-8">Naukari.com</div>
							</div>
							<div class="row">
								<div class="col-md-4">Date of Resignation</div>
								<div class="col-md-8">05/06/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Last Working Day</div>
								<div class="col-md-8">05/06/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Primary Reason</div>
								<div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
							</div>
							<div class="row">
								<div class="col-md-4">Terminated Date</div>
								<div class="col-md-8">05/05/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Remark</div>
								<div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
							</div>
							<div class="row">
								<div class="col-md-4">Second Reason</div>
								<div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip.</div>
							</div>
							<div class="row">
								<div class="col-md-4">Terminated Date</div>
								<div class="col-md-8">05/05/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Confirmation Status</div>
								<div class="col-md-8">Done</div>
							</div>
							<div class="row">
								<div class="col-md-4">Probation Due Date</div>
								<div class="col-md-8">25/06/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Effective Probation Date</div>
								<div class="col-md-8">25/06/2017</div>
							</div>
							<div class="row">
								<div class="col-md-4">Confirmation Due Date</div>
								<div class="col-md-8">25/06/2018</div>
							</div>
							<div class="row">
								<div class="col-md-4">Effective Confirmation Date</div>
								<div class="col-md-8">25/06/2017</div>
							</div>
							<div class="row">
								<div class="col-md-4">Previous Designation</div>
								<div class="col-md-8">Assitance Manager</div>
							</div>
							<div class="row">
								<div class="col-md-4">Promotion Wef</div>
								<div class="col-md-8">Assitance Manager</div>
							</div>
							<div class="row">
								<div class="col-md-4">Designation (at the time of joining)</div>
								<div class="col-md-8">Assitance Manager</div>
							</div>
							<div class="row">
								<div class="col-md-4">Remarks</div>
								<div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4">
				<div class="card card-primary">
					<div class="card-header card-header-primary bg-dark-blue">
						<h6 class="card-title">Pervious Experience Details <div class="float-right"><button class="btn btn-primary btn-xs">Edit</button></div></h6>
					</div>
					<div class="card-body">
						<div class="user_details">
							<div class="row">
								<div class="col-md-4">Date of Recruitment</div>
								<div class="col-md-8">25/04/2016</div>
							</div>
							<div class="row">
								<div class="col-md-4">Place of Recruitment</div>
								<div class="col-md-8">Head Office</div>
							</div>
							<div class="row">
								<div class="col-md-4">Recruitment State</div>
								<div class="col-md-8">Haryana</div>
							</div>
							<div class="row">
								<div class="col-md-4">Previous Organisation</div>
								<div class="col-md-8">Google</div>
							</div>
							<div class="row">
								<div class="col-md-4">Highest Qualification</div>
								<div class="col-md-8">Post Graduate</div>
							</div>
							<div class="row">
								<div class="col-md-4">Pancard</div>
								<div class="col-md-8">BGPT7861J</div>
							</div>
							<div class="row">
								<div class="col-md-4">Aadhar</div>
								<div class="col-md-8">8654 2314 5952</div>
							</div>
							<div class="row">
								<div class="col-md-4">Blood Group</div>
								<div class="col-md-8">O+</div>
							</div>
							<div class="row">
								<div class="col-md-4">Employee Recruitment Id</div>
								<div class="col-md-8">1245856</div>
							</div>
							<div class="row">
								<div class="col-md-4">Religion</div>
								<div class="col-md-8">Hindu</div>
							</div>
							<div class="row">
								<div class="col-md-4">Category</div>
								<div class="col-md-8">OBC</div>
							</div>
							<div class="row">
								<div class="col-md-4">Caste</div>
								<div class="col-md-8">Ahir</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4">
				<div class="card card-primary">
					<div class="card-header card-header-primary bg-dark-blue">
						<h6 class="card-title">Address Details <div class="float-right"><button class="btn btn-primary btn-xs">Edit</button></div></h6>
					</div>
					<div class="card-body">
						<div class="user_details">
							<div class="row">
								<div class="col-md-4">Id Proof Type</div>
								<div class="col-md-8">Aadhaar Card</div>
							</div>
							<div class="row">
								<div class="col-md-4">Id Proof Number</div>
								<div class="col-md-8">5484 6958 2456</div>
							</div>
							<div class="row">
								<div class="col-md-4">Address Proof Type</div>
								<div class="col-md-8">Aadhaar Card</div>
							</div>
							<div class="row">
								<div class="col-md-4">Address Proof Number</div>
								<div class="col-md-8">5654 5498 3658</div>
							</div>
							<div class="row">
								<div class="col-md-4">Personal Email Address</div>
								<div class="col-md-8">karn123@gmail.com</div>
							</div>
							<div class="row">
								<div class="col-md-4">Grade</div>
								<div class="col-md-8">A</div>
							</div>
							<div class="row">
								<div class="col-md-4">Profile Picture</div>
								<div class="col-md-8">karn_kasayhap.jpg</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4">
				<div class="card card-primary">
					<div class="card-header card-header-primary bg-dark-blue">
						<h6 class="card-title">Contact Details <div class="float-right"><button class="btn btn-primary btn-xs">Edit</button></div></h6>
					</div>
					<div class="card-body">
						<div class="user_details">
							<div class="row">
								<div class="col-md-4">Emergency Contact No</div>
								<div class="col-md-8">9891965855</div>
							</div>
							<div class="row">
								<div class="col-md-4">Relation</div>
								<div class="col-md-8">Father</div>
							</div>
							<div class="row">
								<div class="col-md-4">Employee Address</div>
								<div class="col-md-8">10/254 sheetla enclave phase 2 gurgaon Haryana</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4">
				<div class="card card-primary">
					<div class="card-header card-header-primary bg-dark-blue">
						<h6 class="card-title">Driving Details <div class="float-right"><button class="btn btn-primary btn-xs">Edit</button></div></h6>
					</div>
					<div class="card-body">
						<div class="user_details">
							<div class="row">
								<div class="col-md-4">Has Driving License</div>
								<div class="col-md-8">Yes</div>
							</div>
							<div class="row">
								<div class="col-md-4">DL Issue Authority</div>
								<div class="col-md-8">Haryan aGoverment</div>
							</div>
							<div class="row">
								<div class="col-md-4">DL Expiry Date</div>
								<div class="col-md-8">15/08/2019</div>
							</div>
							<div class="row">
								<div class="col-md-4">Has Motorization</div>
								<div class="col-md-8">Yes</div>
							</div>
							<div class="row">
								<div class="col-md-4">Vehicle Type</div>
								<div class="col-md-8">Car</div>
							</div>
							<div class="row">
								<div class="col-md-4">Vehicle Number</div>
								<div class="col-md-8">HR 26 B 5326</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
