<div class="row">
  <div class="col-md-12 header_section">
    <div class="row">
      <div class="col-md-6 text-left">
        <h6>Member: Amrita (B001:001:25)</h6>
        <p class="sub_title"><strong>Center Name</strong> - Kota AB [B001:002]</p>
      </div>
      <div class="col-md-6 text-right">
        <p class="sub_title"><strong>Branch Name</strong> - Kota A [B001]</p>
        <p class="sub_title"><strong>CGT Period</strong> - Sep 7, 2018 to Sep 21, 2018</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <form action="" method="post" style="width: 100%;">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>PPI Score</label>
            <input type="text" name="MemberPPIScore" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>PPI Score Verified ?</label>
            <Select name="MemberPPIScoreVerified" class="form-control">
              <option>Yes</option>
              <option>No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Knowledge About Company ?</label>
            <Select name="KnowledgeAboutCompany" class="form-control">
              <option>Yes</option>
              <option>No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Accepting Mutual guarantee ?</label>
            <Select name="MemberMutualGurantee" class="form-control">
              <option>Yes</option>
              <option>No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>RBI & CB Knowledge ?</label>
            <Select name="MemberKnowledgeAboutRBI" class="form-control">
              <option>Yes</option>
              <option>No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Knowledge of disburesment ?</label>
            <Select name="MemberKnowledgeAboutDisburesment" class="form-control">
              <option>Yes</option>
              <option>No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Willing to attend Centre Meeting ?.</label>
            <Select name="MemberAttendCM" class="form-control">
              <option>Yes</option>
              <option>No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Request Loan Amount ?</label>
            <input type="text" name="MemberLoanAmount" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Loan Purpose ?</label>
            <Select name="MemberLoanPurpose" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </Select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Installment of amount and knowledge ?</label>
            <Select name="KnowledgeAboutinstallment" class="form-control">
              <option>Yes</option>
              <option>No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="radio radio-inline radio-primary">
              <input type="radio" id="approved" name="memberapproval">
              <label for="approved">Approved</label>
            </div>
            <div class="radio radio-inline radio-primary">
              <input type="radio" id="disapproved" name="memberapproval">
              <label for="disapproved">Disapproved</label>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3 mb-3">
          <div class="float-right">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>