<div class="row">
    <div class="col-md-12 header_section">
      <h6>Add New Centre</h6>
    </div>
    <div class="col-md-12">
      <form class="form ng-pristine ng-valid ng-touched" novalidate="" style="width:100%;">
        <div class="row p-b-15">
          <div class="col-md-3">
            <div class="form-group">
              <label>Branch Code</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" id="branch_code" name="branch_code"
                placeholder="Enter branch code" readonly="" type="text" value="B001">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Select Location </label>
              <select class="form-control ng-untouched ng-pristine ng-valid" name="LocationName">
                <option value="Business Location 1">Business Location 1</option>
                <option value="Business Location 2">Business Location 2</option>
                <option value="Business Location 3">Business Location 3</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Select Village </label>
              <select class="form-control ng-untouched ng-pristine ng-valid" name="VillageName">
                <!---->
                <option value="1">village 1</option>
                <option value="2">Village 2</option>
                <option value="1002">Village 3</option>
                <option value="1005">Village 4</option>
                <option value="1006">Village 5</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Center Code</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="CenterCode" readonly="" type="text"
                value="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Center Name</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="CenterName" placeholder="Enter Center Name"
                type="text">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Select Area </label>
              <select class="form-control ng-untouched ng-pristine ng-valid" name="AreaType">
                <option value="1">Rural</option>
                <option value="2">Urban</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Meeting Date</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="MeetingDate" type="date">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Meeting Day</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="MeetingDay" type="text">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Meeting time</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="MeetingTime" type="time">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Distance From Nearest Center(in KM)</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="NearestCenter" placeholder="Distance From Nearest Center(in KM)"
                type="number">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Direction From Center </label>
              <select class="form-control ng-untouched ng-pristine ng-valid" name="AreaType">
                <option value="East">East</option>
                <option value="West">West</option>
                <option value="North">North</option>
                <option value="South">South</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Formation Date</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="FormationDate"  type="date">
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="form-group">
              <label>Select Staff</label>
              <select class="form-control ng-untouched ng-pristine ng-valid" name="AreaType">
                <option value="11300">Aakash Kumar</option>
                <option value="11300">Bhola Yadav</option>
                <option value="11300">Deepak Lodhi</option>
                <option value="11300">Sonu Yadav</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Start Managing Center Date</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" readonly="" name="StartManagingDate" type="date">
            </div>
          </div>
        </div>
        <div class="row p-b-15">
          <div class="col-md-12">
            <h6 class="sub_heading b_b_blue">Center Address Detail</h6>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Address</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="CenterAddress" type="text">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Locality</label>
              <input class="form-control ng-pristine ng-valid ng-touched" name="CenterLocality" type="text">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Block/Area</label>
              <input class="form-control ng-pristine ng-valid ng-touched" name="CenterBlock" readonly="" type="text"
                value="Farrukhnagar">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>PostOffice</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="CenterPostOffice" readonly="" type="text"
                value="Farrukhnagar">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Tehsil</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="CenterTehsil" readonly="" type="text"
                value="Guragon">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>District</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="CenterDistrict" readonly="" type="text"
                value="Guragon">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>State</label>
              <input class="form-control ng-untouched ng-pristine ng-valid" name="CenterState" readonly="" type="text"
                value="Haryana">
            </div>
          </div>
          <div class="col-md-12 m-t-15">
            <div class="float-right">
              <button class="btn btn-primary btn-sm" type="submit">Add</button>
  
              <button class="btn btn-primary btn-sm" type="button">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>