<div class="row">
  <div class="col-md-12 header_section">
    <div class="row">
      <div class="col-md-6 text-left">
        <h6>Add PPI Details</h6>
        <p class="sub_title"><strong>Center Name</strong> - Kota AB [B001:002]</p>
      </div>
      <div class="col-md-6 text-right">
        <p class="sub_title"><strong>Branch Name</strong> - Kota A [B001]</p>
        <p class="sub_title"><strong>CGT Period</strong> - Sep 7, 2018 to Sep 21, 2018</p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <form method="post" action="" style="width: 100%;">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>परिवार मे कितने सदस्यो की उम्र 17 या उस से कम है ?</label>
            <select name="MemberFamilyAgeBelow" id="MemberFamilyAgeBelow" class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>परिवार के मुखिया का शैक्षिक स्तर क्या है ?</label>
            <select name="MemberFamilyEducationLevel" class="form-control" id="MemberFamilyEducationLevel">
              <option>5th</option>
              <option>8Th</option>
              <option>10th</option>
              <option>12th</option>
              <option>Graduate</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>परिवार किस प्रकार का हैं ?</label>
            <select name="MemberFamilyType" class="form-control" id="MemberFamilyType">
              <option>Family Type</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>खाना पकाने का प्राथमिक स्रोत क्या है ?</label>
            <select name="MembercookingType" class="form-control" id="MembercookingType">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>option 4</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>क्या घर मे केशरोत, या थर्मस है (जिसमे कुछ समय के लिए खाद्य को गर्म रखा जा सके ) ?</label>
            <select name="MemberHasThormus" class="form-control" id="MemberHasThormus">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>क्या घर मे टी.वी., डी.वी.डी. या वी.सी.आर है ?</label>
            <select name="MemberHasTV" class="form-control" id="MemberHasTV">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>क्या घर मे मोबाइल या लैंडलाइन है ?</label>
            <select name="MemberHasMobile" class="form-control" id="MemberHasMobile">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>क्या घर मे सिलाई मशीन है ?</label>
            <select name="MemberHasSewingMachine" class="form-control" id="MemberHasSewingMachine">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>क्या घर मे अलमारी सिंगारदान है ?</label>
            <select name="MemberHasCloset" class="form-control" id="MemberHasCloset">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>क्या घर मे साईकल/मोटर बाइक /सकूटर /या जीप है ?</label>
            <select name="MemberHasVehicle" class="form-control" id="MemberHasVehicle">
              <option>Yes</option>
              <option>No</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="float-right mt-3">
            <button class="btn btn-sm btn-success"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>