<div class="row">
  <div class="col-md-12 header_section">
    <h6>Add New MFI Details</h6>
  </div>
  <div class="col-md-12 header_section">
    <form id="add_new_mfi">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>MFI Name</label>
            <input type="text" name="MFIName" class="form-control" id="MFIName" placeholder="MFI Name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Year Of Operation</label>
            <input type="text" name="YearOfOperation" class="form-control" id="YearOfOperation" placeholder="Year Of Operation">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Total Customer</label>
            <input type="text" name="TotalCustomer" class="form-control" id="TotalCustomer" placeholder="Total Customer">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Repayment %</label>
            <input type="text" name="RepaymentRate" class="form-control" id="RepaymentRate" placeholder="Repayment Rate">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <table class="table table-responsive-sm table-striped" style="width: 100%;">
      <thead class="">
        <tr>
          <th class="text-center">Sr. No.</th>
          <th class="text-center">Name of MFI</th>
          <th class="text-center">Year (Operation)</th>
          <th class="text-center">Total</th>
          <th class="text-center">Repayment</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let mfi of MFIdata">
          <td class="text-center">{{mfi.id}}</td>
          <td class="text-center">{{mfi.Name}}</td>
          <td class="text-center">{{mfi.Year}}</td>
          <td class="text-center">{{mfi.TotalCustomer}}</td>
          <td class="text-center">{{mfi.Repayment}}</td>
          <td class="text-center">
            <a href="javascript:void();" class="d_none">
              <i class="fa fa-edit fs-12"></i>
            </a>
            <a href="javascript:;" class="text-danger d_none">
              <i class="fa fa-trash-alt fs-12"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <div class="float-right">
      <button class="btn btn-sm btn-primary">Next <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
</div>