<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="float-left">
						<a class="navbar-brand" [routerLink]="['/dashboard']"><img src="../assets/img/logo/logo.png" style="max-width: 110px;"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="menu_bottom">
		</div>
	</header>
<div class="login-wraper">
	<div class="container">
		<div class="row">
			<div class="col-md-8 wrapper-1 my-auto text-left">
				<h5 class="pb-4 text-danger" style="border-bottom: 20px solid;"> <i class="far fa-star"></i> Star Performace of the month.</h5>
				<ngb-carousel id="carousel1">
				  	<ng-template ngbSlide>
					  	<div class="row">
					  		<div class="col-md-6 text-center">
					  			<div class="best_performer">
					    			<img src="../assets/img/users/1.jpg" alt="Random first slide" class="img-fluid">
							    </div>
					    	</div>
					    	<div class="col-md-6">
					  			<div class="best_performer">
						    		<div class="best_performer_user_dertails">
							    		<table class="table table-responsive">
						    				<tr>
						    					<th>Name</th>
						    					<th>Rajkumar (12555)</th>
						    				</tr>
						    				<tr>
						    					<th>Branch</th>
						    					<th>Kota</th>
						    				</tr>
						    				<tr>
						    					<th>Distic</th>
						    					<th>Alwar</th>
						    				</tr>
						    				<tr>
						    					<th>State</th>
						    					<th>Rajasthan</th>
						    				</tr>
						    			</table>
							    	</div>
							    </div>
					    	</div>
					    	<div class="col-md-12">
					    		<div class="best_performer_about">
					    			<h6 class="text-center">
					    				<img src="../assets/img/icon/trophy.png" class="img-fluid">
					    			</h6>
					    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    			quis nostrud exercitation ullamcod.</p>
					    		</div>
					    	</div>
					    </div>
				  	</ng-template>
				  	<ng-template ngbSlide>
					  	<div class="row">
					  		<div class="col-md-6 text-center">
					  			<div class="best_performer">
					    			<img src="../assets/img/users/2.jpg" alt="Random first slide" class="img-fluid">
							    </div>
					    	</div>
					    	<div class="col-md-6">
					  			<div class="best_performer">
						    		<div class="best_performer_user_dertails">
						    			<table class="table table-responsive">
						    				<tr>
						    					<th>Name</th>
						    					<th>Rajkumar (12555)</th>
						    				</tr>
						    				<tr>
						    					<th>Branch</th>
						    					<th>Kota</th>
						    				</tr>
						    				<tr>
						    					<th>Distic</th>
						    					<th>Alwar</th>
						    				</tr>
						    				<tr>
						    					<th>State</th>
						    					<th>Rajasthan</th>
						    				</tr>
						    			</table>
							    	</div>
							    </div>
					    	</div>
					    	<div class="col-md-12">
					    		<div class="best_performer_about">
					    			<h6 class="text-center">
					    				<img src="../assets/img/icon/trophy.png" class="img-fluid">
					    			</h6>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						    		tempor incididunt ut labore et dolore magna aliqua.</p>
						    	</div>
					    	</div>
					    </div>
				  	</ng-template>
				  	<ng-template ngbSlide>
					  	<div class="row">
					  		<div class="col-md-6 text-center">
					  			<div class="best_performer">
					    			<img src="../assets/img/users/3.jpg" alt="Random first slide" class="img-fluid">
							    </div>
					    	</div>
					    	<div class="col-md-6">
					  			<div class="best_performer">
						    		<div class="best_performer_user_dertails">
							    		<table class="table table-responsive">
						    				<tr>
						    					<th>Name</th>
						    					<th>Rajkumar (12555)</th>
						    				</tr>
						    				<tr>
						    					<th>Branch</th>
						    					<th>Kota</th>
						    				</tr>
						    				<tr>
						    					<th>Distic</th>
						    					<th>Alwar</th>
						    				</tr>
						    				<tr>
						    					<th>State</th>
						    					<th>Rajasthan</th>
						    				</tr>
						    			</table>
							    		
							    	</div>
							    </div>
					    	</div>
					    	<div class="col-md-12">
					    		<div class="best_performer_about">
					    			<h6 class="text-center">
					    				<img src="../assets/img/icon/trophy.png" class="img-fluid">
					    			</h6>
					    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    			tempor incididunt ut labore et.</p>
					    		</div>
					    	</div>
					    </div>
				  	</ng-template>
				  	<ng-template ngbSlide>
					  	<div class="row">
					  		<div class="col-md-6 text-center">
					  			<div class="best_performer">
					    			<img src="../assets/img/users/4.jpg" alt="Random first slide" class="img-fluid">
							    </div>
					    	</div>
					    	<div class="col-md-6">
					  			<div class="best_performer">
						    		<div class="best_performer_user_dertails">
							    		<table class="table table-responsive">
						    				<tr>
						    					<th>Name</th>
						    					<th>Rajkumar (12555)</th>
						    				</tr>
						    				<tr>
						    					<th>Branch</th>
						    					<th>Kota</th>
						    				</tr>
						    				<tr>
						    					<th>Distic</th>
						    					<th>Alwar</th>
						    				</tr>
						    				<tr>
						    					<th>State</th>
						    					<th>Rajasthan</th>
						    				</tr>
						    			</table>
							    	</div>
							    </div>
					    	</div>
					    	<div class="col-md-12">
					    		<div class="best_performer_about">
					    			<h6 class="text-center">
					    				<img src="../assets/img/icon/trophy.png" class="img-fluid">
					    			</h6>
					    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    			tempor incididunt ut labore et dol.</p>
					    		</div>
					    	</div>
					    </div>
				  	</ng-template>
				  	<ng-template ngbSlide>
					  	<div class="row">
					  		<div class="col-md-6 text-center">
					  			<div class="best_performer">
					    			<img src="../assets/img/users/5.jpg" alt="Random first slide" class="img-fluid">
							    </div>
					    	</div>
					    	<div class="col-md-6">
					  			<div class="best_performer">
						    		<div class="best_performer_user_dertails">
						    			<table class="table table-responsive">
						    				<tr>
						    					<th>Name</th>
						    					<th>Rajkumar (12555)</th>
						    				</tr>
						    				<tr>
						    					<th>Branch</th>
						    					<th>Kota</th>
						    				</tr>
						    				<tr>
						    					<th>Distic</th>
						    					<th>Alwar</th>
						    				</tr>
						    				<tr>
						    					<th>State</th>
						    					<th>Rajasthan</th>
						    				</tr>
						    			</table>
							    	</div>
							    </div>
					    	</div>
					    	<div class="col-md-12">
					    		<div class="best_performer_about">
					    			<h6 class="text-center">
					    				<img src="../assets/img/icon/trophy.png" class="img-fluid">
					    			</h6>
						    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						    		tempor incididunt ut labore et dolore magna aliqua.</p>
						    	</div>
					    	</div>
					    </div>
				  	</ng-template>
				  	<ng-template ngbSlide>
					  	<div class="row">
					  		<div class="col-md-6 text-center">
					  			<div class="best_performer">
					    			<img src="../assets/img/users/6.jpg" alt="Random first slide" class="img-fluid">
							    </div>
					    	</div>
					    	<div class="col-md-6">
					  			<div class="best_performer">
						    		<div class="best_performer_user_dertails">
							    		<table class="table table-responsive">
						    				<tr>
						    					<th>Name</th>
						    					<th>Rajkumar (12555)</th>
						    				</tr>
						    				<tr>
						    					<th>Branch</th>
						    					<th>Kota</th>
						    				</tr>
						    				<tr>
						    					<th>Distic</th>
						    					<th>Alwar</th>
						    				</tr>
						    				<tr>
						    					<th>State</th>
						    					<th>Rajasthan</th>
						    				</tr>
						    			</table>
							    		
							    	</div>
							    </div>
					    	</div>
					    	<div class="col-md-12">
					    		<div class="best_performer_about">
					    			<h6 class="text-center">
					    				<img src="../assets/img/icon/trophy.png" class="img-fluid">
					    			</h6>
					    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    			tempor incididunt ut labore et.</p>
					    		</div>
					    	</div>
					    </div>
				  	</ng-template>
				</ngb-carousel>
			</div>
			<div class="col-md-4 col-xs-12 wrapper-2">
				<h5 class="text-left  pb-4 ml-3">Login</h5>
				<div class="login-content m-auto">
					<form>
						<div class="form-group">
							<label>Username</label>
							<input type="text" name="username" class="form-control" placeholder="username" id="username">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" class="form-control" placeholder="password" id="password">
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary btn-sm text-center" style="min-width:80px;">Send otp</button>
						</div>
						<div class="otp_session" >
							<div class="form-group">
								<label>OTP sent on your register mobile no. 88xxxxxx52.</label>
								<input type="password" name="otp" class="form-control" placeholder="Enter OTP" id="otp">
							</div>
							<div class="form-group">
								<button type="button" class="btn btn-sm btn-primary pull-left text-center" style="min-width:80px;">Verify</button>
								<button type="button" class="btn btn-sm btn-default float-right">Resend</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>