<div class="row">
  <div class="col-md-12 header_section">
    <h6>Enter New Village Details</h6>
  </div>
  <div class="col-md-12">
    <form style="width:100%">
      <div class="row p-b-15">
        <div class="col-md-3">
          <div class="form-group">
            <label>Branch Code</label>
            <input type="text" name="branch_code" class="form-control" value="B001" readonly placeholder="Enter branch code"
              id="branch_code">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Village Name</label>
            <input type="text" name="village_name" class="form-control" placeholder="Enter village name" id="village_name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Block/Area</label>
            <input type="text" name="block_name" class="form-control" placeholder="Enter block name" id="block_name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Tehsil/Taluka/sub-division</label>
            <input type="text" name="tehsil_name" class="form-control" placeholder="Enter Tehsil name" id="tehsil_name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Post Office</label>
            <input type="text" name="post_office" class="form-control" placeholder="Enter post-office name" id="post_office">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Police Station</label>
            <input type="text" name="police_station" class="form-control" placeholder="Enter police Station" id="police_station">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>District</label>
            <select name="District" class="form-control">
              <option>Gurgaon</option>
              <option>Rewari</option>
              <option>Bawal</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>State</label>
            <select name="District" class="form-control">
              <option value="andhrapardesh">Andhra Pradesh</option>
              <option value="arunachalpardesh">Arunachal Pradesh</option>
              <option value="asam">Assam</option>
              <option value="bihar">Bihar</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row p-b-15">
        <div class="col-md-12">
          <h6 class="sub_heading b_b_blue">No. Of Household in the village/locality</h6>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Type of Area</label>
            <select name="type_of_area" class="form-control">
              <option value="rular">Rural</option>
              <option value="non_rular">Non-Rural</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>No. Of Kuccha</label>
            <input type="text" name="Kuccha" class="form-control" placeholder="No. of kuccha" id="kuccha">
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>No. Of Pucca</label>
            <input type="text" name="pucca" class="form-control" placeholder="No. of pucca" id="pucca">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Total</label>
            <input type="text" name="pucca" class="form-control" placeholder="No. of pucca" readonly id="pucca">
          </div>
        </div>
      </div>
      <div class="row p-b-15">
        <div class="col-md-12">
          <h6 class="sub_heading b_b_blue">Community composition in the village</h6>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>General</label>
            <input type="text" name="General" class="form-control" placeholder="General" id="general">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>OBC</label>
            <input type="text" name="obc" class="form-control" placeholder="OBC" id="obc">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>SC/ST</label>
            <input type="text" name="sc" class="form-control" placeholder="SC" id="sc">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Other</label>
            <input type="text" name="other_caste" class="form-control" placeholder="Others" id="other_caste">
          </div>
        </div>
      </div>
      <div class="row p-b-15">
        <div class="col-md-12">
          <h6 class="sub_heading b_b_blue">Other Information of the village</h6>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>Distance From Branch Office( in Km)</label>
            <input type="text" name="DistanceFromBranchOffice" class="form-control" placeholder="Distance(KM)" id="DistanceFromBranchOffice">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Road Connectivity</label>
            <Select name="road_conectivity" class="form-control" id="road_conectivity">
              <option value="1">Good</option>
              <option value="1">Bad</option>
              <option value="1">Poor</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Distance (From main road)</label>
            <input type="text" name="distance" class="form-control" placeholder="Distance(KM)" id="distance">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Nearest operation Locality(Centre)</label>
            <input type="text" name="nearst_operation_village" class="form-control" placeholder="Name nearst operation village"
              id="nearst_operation_village">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Distance (in KM)</label>
            <input type="text" name="nearst_village_distance" class="form-control" placeholder="Distance(KM)" id="nearst_village_distance">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Hospital/Primary Health</label>
            <Select name="" class="form-control" id="hospital">
              <option value="1">Goverment</option>
              <option value="1">Private</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Distance (in KM)</label>
            <input type="text" name="hospital_distance" class="form-control" placeholder="Distance(KM)" id="hospital_distance">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>School</label>
            <Select name="" class="form-control" id="hospital">
              <option value="1">Goverment</option>
              <option value="1">Private</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Distance (in KM)</label>
            <input type="text" name="school_distance" class="form-control" placeholder="Distance(KM)" id="school_distance">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Ringer Leader Name</label>
            <input type="text" name="Leader_Name" class="form-control" placeholder="Ringer Leader Name" id="Leader_Name">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Credit History of village</label>
            <Select name="credit_history" class="form-control" id="credit_history">
              <option value="1">Good</option>
              <option value="2">Poor</option>
              <option value="3">Bad</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Polticial Infulence</label>
            <Select name="Polticial_infulence" class="form-control" id="Polticial_infulence">
              <option value="1">Yes</option>
              <option value="2">No</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Major livelihood option/activity</label>
            <Select name="major_activity" class="form-control" id="major_activity">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Law and order Position</label>
            <Select name="law_position" class="form-control" id="law_position">
              <option value="1">Good</option>
              <option value="1">Bad</option>
              <option value="1">Poor</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Mobile Network Availability</label>
            <Select name="law_position" class="form-control" id="law_position">
              <option value="airtel">Airtel</option>
              <option value="idea">Idea</option>
              <option value="jio">Jio</option>
              <option value="voda">Vodafone</option>
            </Select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Is Flooded Area</label>
            <select class="form-control" name="Hotels">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row p-b-15">
        <div class="col-md-12">
          <h6 class="sub_heading b_b_blue">List of activities in the village</h6>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="KiranaStore">
              <label for="KiranaStore">Kirana Stores</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="GeneralStore">
              <label for="GeneralStore">General Stores</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="Tailoring">
              <label for="Tailoring">Tailoring</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="StationaryStore">
              <label for="StationaryStore">Stationary Stores</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="VegetablesStalls">
              <label for="VegetablesStalls">Vegetables Stalls</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="FruitsStalls">
              <label for="FruitsStalls">Fruits Stalls</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="Dairy">
              <label for="Dairy">Dairy</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="GoatRearing">
              <label for="GoatRearing">Goat/Sheep Rearing</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="TeaStalls">
              <label for="TeaStalls">Tea Stalls</label>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="checkbox checkbox-primary">
              <input type="checkbox" id="Hotels">
              <label for="Hotels">Hotels</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-b-15">
        <div class="col-md-12">
          <h6 class="sub_heading b_b_blue">Remarks of the person conducted survey</h6>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Enter Remarks</label>
            <textarea class="form-control" rows="5" placeholder="About Village"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <div class="float-right">
            <button class="btn btn-success btn-sm" type="Submit">Submit <i class="fa fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>