<section class="con_body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Help Desk</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 m-b-10">
                <div class="comment_card">
                  <div class="comment_text">
                    <p>Comment text here....Comment text here....Comment text here....Comment text here....</p>
                  </div>
                  <div class="comment_time">
                    <p>12/08/2018 04:15pm</p>
                  </div>
                </div>
                <div class="comment_card">
                  <div class="comment_text">
                    <p>Comment text here....Comment text here....Comment text here....Comment text here....</p>
                  </div>
                  <div class="comment_time">
                    <p>12/08/2018 04:15pm</p>
                  </div>
                </div>
                <div class="comment_card">
                  <div class="comment_text">
                    <p>Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....Comment text here....</p>
                  </div>
                  <div class="comment_time">
                    <p>12/08/2018 04:15pm</p>
                  </div>
                </div>
              </div>
              <div class="col-md-12 m-t-10">
                <div class="form">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Issue type</label>
                        <select class="form-control">
                          <option>Issue 1</option>
                          <option>Issue 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Issue type</label>
                        <select class="form-control">
                          <option>Issue 1</option>
                          <option>Issue 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label>Issue type</label>
                        <select class="form-control">
                          <option>Issue 1</option>
                          <option>Issue 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="form-group">
                          <label>Comment Here</label>
                          <textarea class="form-control" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 text-right m-t-10">
                      <button type="button" class="btn btn-sm btn-danger">Close</button>
                      <button type="button" class="btn btn-sm btn-primary"> <i class="fas fa-share-square"></i> Send</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>