<div class="row">
  <div class="col-md-12 header_section">
    <h6 class="l-h-35 b-b-1 p-b-20 m-b-0">Center Management
    </h6>
  </div>
  <div class="col-md-12">
    <table class="table table-responsive-sm table-striped">
      <thead>
        <tr>
          <th>Centre Code</th>
          <th>Staff Code</th>
          <th>Start Date</th>
          <th>End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let centres of CentreManagement'>
          <td>{{centres.CenterCode}}</td>
          <td>{{centres.StaffCode}}</td>
          <td>{{centres.StartManagingDate | date:'medium'}}</td>
          <td>{{centres.EndManagingDate | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>