<app-header></app-header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/hr">Staff</a></li>
    <li class="breadcrumb-item active" aria-current="page">Staff List</li>
  </ol>
</nav>

<!-- 
<section class="con_body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <ngx-image-zoom [thumbImage]=myThumbnail [fullImage]=myFullresImage></ngx-image-zoom>
      </div>
      <div class="col-md-12">
          <ngx-image-zoom [thumbImage]=myThumbnail2 [fullImage]=myFullresImage2  [enableScrollZoom]=true></ngx-image-zoom>
      </div>
    </div>
  </div>
</section> -->
