 <app-header></app-header>
 <nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
	    <li class="breadcrumb-item"><a href="/hr">CGT</a></li>
	    <li class="breadcrumb-item active" aria-current="page">CGT List</li>
	  </ol>
	</nav>
<section class="con_body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Loan Details</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<div class="dis_block">
									<div class="row b_b">
										<div class="col-md-4">
											<p class="f-w-500 f-s-15">Loan Code</p>
										</div>
										<div class="col-md-8">
											<p class="f-w-500 f-s-15 f-grey"> <span class="m-r-20">:</span> figLoan.LoanCode}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Funder Id</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.FunderAccCode}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Rate Of Intt</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.RateOfIntt}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Proposal Date</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.ProposalDate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Senction Date</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.SanctionDate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Documentation Date</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.DocumentationDate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Security Deposite</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.SecurityDeposite}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Tenure</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.Tenure}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Processing Fee</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.ProcessingFee}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Other Fees</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.OtherFees}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Documentation Charges</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.DocumentationCharges}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Arrangement Fees</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.ArrangementFees}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Other key covenant</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.Otherkeycovenant}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Arranger</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.Arranger}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Disbursment Date</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.DisbursmentDate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Documentation Charges Percent</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.DocumentationChargesPercent}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Funder Type</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.FunderType}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="dis_block">
									<div class="row b_b">
										<div class="col-md-4">
											<p class="f-w-500 f-s-15">Tranche</p>
										</div>
										<div class="col-md-8">
											<p class="f-w-500 f-s-15 f-grey"> <span class="m-r-20">:</span> figLoan.Tranche}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Base Rate</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.BaseRate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Spread</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.Spread}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Total Effective Rate</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.TotalEffectiveRate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Sanction Amount</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.SanctionAmount}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">FDR Percent</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.FDR_Percent}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">FDR Amount</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.FDR_Amount}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Book Dept Percent</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.BookDeptPercent}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Expected settlement Date</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.ExpectedsettlementDate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Principal Start Date</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.PrincipalRepaymentStartDate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Interest Start Date</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.InterestRepaymentStartDate}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Principal Repayment Amount</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.PrincipalDueAmount}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Interest Repayment Amount</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.InterestDueAmount}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Repayment Mode</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.RepaymentMode}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Utilization Period</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.UtilizationPeriod}}</p>
										</div>
									</div>
									<div class="row b_b">
										<div class="col-md-4">
											<p><span class="f-s-15 f-w-500">Collateral</span>
											</p>
										</div>
										<div class="col-md-8">
											<p class="f-grey f-s-15 f-w-500"> <span class="m-r-20">:</span> figLoan.Collateral}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>