<app-header></app-header>
<section class="con_body">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4>Heading</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-3">
								<div class="data_holder">
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Name</p>
										</div>
										<div class="col-md-6 text-right">
											<p>White Jhon</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Age</p>
										</div>
										<div class="col-md-6 text-right">
											<p>31</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Employee Id</p>
										</div>
										<div class="col-md-6 text-right">
											<p>1253</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="data_holder">
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Name</p>
										</div>
										<div class="col-md-6 text-right">
											<p>White Jhon</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Age</p>
										</div>
										<div class="col-md-6 text-right">
											<p>31</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Employee Id</p>
										</div>
										<div class="col-md-6 text-right">
											<p>1253</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="data_holder">
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Name</p>
										</div>
										<div class="col-md-6 text-right">
											<p>White Jhon</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Age</p>
										</div>
										<div class="col-md-6 text-right">
											<p>31</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Employee Id</p>
										</div>
										<div class="col-md-6 text-right">
											<p>1253</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="data_holder">
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Name</p>
										</div>
										<div class="col-md-6 text-right">
											<p>White Jhon</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Age</p>
										</div>
										<div class="col-md-6 text-right">
											<p>31</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6 text-left">
											<p class="text-bold">Employee Id</p>
										</div>
										<div class="col-md-6 text-right">
											<p>1253</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="text-right">
									<button class="btn btn-primary btn-sm">View All</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>