<app-header></app-header>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/hr">Staff</a></li>
    <li class="breadcrumb-item active" aria-current="page">Staff List</li>
  </ol>
</nav>
<section class="con_body" style="padding-top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb-4">
				<div class="card">
					<div class="card-header">
						<h4 class="text-primary m-b-0" style="font-size: 18px; font-weight: 500;">Personal Information</h4>
					</div>
					<div class="card-body">
						<div class="user_pic text-center m-t-5">
							<img src="../../assets/img/users/1.jpg" style="max-height: 181px;">
						</div>
						<div class="profile-personal-info m-t-20">
		                    <div class="row m-b-15">
		                        <div class="col-md-6">
		                            <h5 class="f-w-500">Name <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-6"><span class="v-light">Manjeet Yadav</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-6">
		                            <h5 class="f-w-500">Designation <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-6"><span class="v-light">Manager</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-6">
		                            <h5 class="f-w-500">Department <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-6"><span class="v-light">Accounts</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-6">
		                            <h5 class="f-w-500">Branch <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-6"><span class="v-light">Head office</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-12">
		                            <h5 class="f-w-500">Location <span class="float-right">:</span></h5>
		                        	<span class="v-light">Gurgaon</span>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
			<div class="col-md-6 mb-4">
				<div class="card">
					<div class="card-header">
						<h4 class="text-primary m-b-0" style="font-size: 18px; font-weight: 500;">Personal Information</h4>
					</div>
					<div class="card-body">
						<div class="profile-personal-info">
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Name <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Manjeet Yadav</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Email <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">manjeet.yadav@svcl.in</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Staff Code<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">114526</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Father's Name <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Naresh Yadav</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Mother's Name <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Kamlesh Devi</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Date Of Birth <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">12/04/1997</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Gender <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Male</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Marital Status <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Married</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Spouse Name <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Priya Yadav</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Contact No. <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">9012745896</span>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div>
            
            <div class="col-md-6 mb-4">
				<div class="card">
					<div class="card-header">
						<h4 class="text-primary m-b-0" style="font-size: 18px; font-weight: 500;">Address Details</h4>
					</div>
					<div class="card-body">
						<div class="profile-personal-info">
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Id Proof Type<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Aadhaar Card</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Id Proof No.<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">1254 2369 8965</span>
		                        </div>
		                    </div>
		                     <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Address Proof Type<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Aadhaar Card</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Address Proof No.<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">1254 2369 8965</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Address<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">1254/12 Bhopal UP West, 125636</span>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div>
            <div class="col-md-6 mb-4">
				<div class="card">
					<div class="card-header">
						<h4 class="text-primary m-b-0" style="font-size: 18px; font-weight: 500;">Driving Details</h4>
					</div>
					<div class="card-body">
						<div class="profile-personal-info">
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Has Driving License<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Yes</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">DL Expire Date<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">12/08/2025</span>
		                        </div>
		                    </div>
		                     <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Has Motorization<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Yes</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Vehicle Type<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Bike</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Vehicle No.<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">UP 12 B 0909</span>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div>
			<div class="col-md-6 mb-4">
				<div class="card">
					<div class="card-header">
						<h4 class="text-primary m-b-0" style="font-size: 18px; font-weight: 500;">Employement Details</h4>
					</div>
					<div class="card-body">
						<div class="profile-personal-info">
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Infor Received On <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Naukari.com</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Date of Recuriment  <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">01/12/2017</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Date of Joining<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">12/01/2018</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-md-4">
		                            <h5 class="f-w-500">Pervious Organization <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Medlife insurance Pvt. Ltd.</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-4">
		                            <h5 class="f-w-500">Total Experience <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">3+ Years</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-4">
		                            <h5 class="f-w-500">Date of Resignation <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">12/04/2017</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-4">
		                            <h5 class="f-w-500">Last Working Day <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">12/05/2017</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-4">
		                            <h5 class="f-w-500">Primary Reason <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Lorem ipsum dolor sit amet, consectetur elit...</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-4">
		                            <h5 class="f-w-500">Remarks<span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Lorem ipsum dolor sit amet, consectetur elit...</span>
		                        </div>
		                    </div>
		                    <div class="row m-b-15">
		                        <div class="col-4">
		                            <h5 class="f-w-500">Secondary Reason <span class="float-right">:</span></h5>
		                        </div>
		                        <div class="col-md-8"><span class="v-light">Lorem ipsum dolor sit amet, consectetur elit...</span>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
            </div>
        </div>
	</div>
</section>
