<div class="content_container">
	<div class="frame">
		<div class="row">
			<div class="col-md-8">
				<div class="login_wrapper1">
					<div class="heading m-auto">
						<h3>Star Performer of the Month</h3>
					</div>
					<div class="slider">
						<ngb-carousel id="carousel1">
						  	<ng-template ngbSlide>
							  	<div class="row">
							  		<div class="col-md-6 text-center">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/1.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				Abhishek
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    	<div class="col-md-6">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/2.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				Ramkumar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    </div>
						  	</ng-template>
						  	<ng-template ngbSlide>
							  	<div class="row">
							  		<div class="col-md-6 text-center">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/3.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				JaiKisen
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    	<div class="col-md-6">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/4.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				Abhishek
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    </div>
						  	</ng-template>
						  	<ng-template ngbSlide>
							  	<div class="row">
							  		<div class="col-md-6 text-center">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/5.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				Balram
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    	<div class="col-md-6">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/6.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				Abhishek
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    </div>
						  	</ng-template>
						  	<ng-template ngbSlide>
							  	<div class="row">
							  		<div class="col-md-6 text-center">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/7.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				Smtithi
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    	<div class="col-md-6">
							  			<div class="performer_card">
								  			<div class="best_performer">
								    			<img src="../assets/img/users/1.jpg" alt="Random first slide" class="img-fluid">
										    </div>
										    <div class="performer_details">
										    	<table class="table">
										    		<tr>
										    			<td>
										    				Name
										    			</td>
										    			<td>
										    				Abhishek
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Branch
										    			</td>
										    			<td>
										    				A001
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				Distric
										    			</td>
										    			<td>
										    				Alwar
										    			</td>
										    		</tr>
										    		<tr>
										    			<td>
										    				State
										    			</td>
										    			<td>
										    				Rajasthan
										    			</td>
										    		</tr>
										    	</table>
										    </div>
										    <div class="performer_about">
										    	<p>
										    		ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										    		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
										    	</p>
										    </div>
										</div>
							    	</div>
							    </div>
						  	</ng-template>
						</ngb-carousel>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="login_wrapper2">
					<h3>Login</h3>
					<p>Fill the details for login</p>
					<form class="">
						<div class="form-group">
							<label>Username</label>
							<input type="text" name="Username" class="form-control">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="text" name="Password" class="form-control">
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-sm">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>